*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
local.properties
__pycache__/
*.pyc
.system_generated/
*.log
*log*.txt
*.apk
*.zip
!app/src/main/python/data/taiwan_srtm3.zip


*.ipa
ios_build_output/
*.db
*.db-shm
*.db-wal
.kotlin/
phone_logs_extracted/
*.hgt*


